/* Reset e base */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #f9f9fc;
  color: #2c2c2c;
}

/* Cabeçalho */
header {
  background: linear-gradient(to right, #0055aa, #0077cc);
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

header h1.logo {
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: white;
}

/* Navegação */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  padding: 6px 12px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffaa00
