/* Reset e base */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #222222;
}

/* Cabeçalho */
header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
}

header h1.logo {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: white;
}

/* Navegação */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00;
}

/* Botão de tema fixo */
#tema-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index
/* Botão padrão (desktop) */
#whatsapp-button img {
  width: 60px;
  height: 60px;
}

/* Telas médias (tablets) */
@media (max-width: 768px) {
  #whatsapp-button img {
    width: 50px;
    height: 50px;
  }
}

/* Telas pequenas (celulares) */
@media (max-width: 480px) {
  #whatsapp-button img {
    width: 40px;
    height: 40px;
  }
